/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}

a{
	text-decoration: none;
	color:black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
	
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
}

.filtres{
	display:flex;
	justify-content: center;
}

#filtre-item1, #filtre-item2, #filtre-item3, #filtre-item4 
{
	border: 1px solid #1D6154;
	font-size: 16px;
	font-weight: 700;
	color:#1D6154;
	font-family: 'Syne', sans-serif;
	border-radius:60px;
	padding-top:9px;
	padding-bottom: 9px;
	margin-right:10px;
	margin-bottom: 51px;
	background-color: #FFFEF8;
}

#filtre-item1:hover,#filtre-item2:hover,#filtre-item3:hover,#filtre-item4:hover
{
	background-color: #1D6154;
	color:white;
}

#filtre-item1
{
	padding-left: 28px;
	padding-right:30px;
}

#filtre-item2
{
	padding-left: 20px;
	padding-right:22px;
}

#filtre-item3
{
	padding-left: 14px;
	padding-right:15px;
}

#filtre-item4
{
	padding-left: 9px;
	padding-right:11px;
	margin-right:0px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* POUR LOGIN */ 
#login
{
	margin-top:100px;	
}
#titre-login
{
	text-align: center;
	margin-bottom: 37px;
}

#log-form
{
	margin-left: auto;
	margin-right:auto;
	width:379px;
	background-color: y;
	
}

.form-titre
{
	margin-bottom: 7px;
	font-family:'Work Sans';
}

.input-form
{
	width: 379px;
	height: 51px;
	box-shadow:  0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 30px;
	font-size: 14px;
}

#submit-form
{
	width: 179px;
	height: 36px;
	display:block;
	border:none;
	font-size: 14px;
	margin-top: 7px;
}

#password
{
	text-align: center;
	color:black;
	
}